.card {
  position: relative;
  background-color: $white-color;
  vertical-align: top;
  text-align: left;
  margin: 20px;
  white-space: normal;
  color: $text-color;
}

.card--hover:hover {
    box-shadow: 0 40px 40px $box-shadow-hover-color;
    transform: translate(0,-20px);
    transition-delay: 0s !important;
}

.card__header, .card__body, .card__footer {
  padding: 1em;
}

.card--shadow {
  box-shadow: 0 20px 20px $box-shadow-color;
  -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
}